@using BudgetTool.Application.VIewModels;
@model BudgetViewModel

<div class="text-center">
    <h2 class="display-4">Budjettini</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Tulot</th>
                <th scope="col">kuukaudessa</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Nettotulot / palkka</td>
                <td>0,00 €</td>
            </tr>
            <tr>
                <td>Opintotuki</td>
                <td>0,00 €</td>
            </tr>
            <tr>
                <td>Opintolaina</td>
                <td>0,00 €</td>
            </tr>
            <tr>
                <td>Asumislisä / asumistuki</td>
                <td>0,00 €</td>
            </tr>
            <tr>
                <td>Työttömyyskorvaus</td>
                <td>0,00 €</td>
            </tr>
            <tr>
                <td>Muut tuet ja etuudet</td>
                <td>0,00 €</td>
            </tr>
            <tr>
                <td>Muut tulot (esim. pääomatulot)</td>
                <td>0,00 €</td>
            </tr>
            <tr>
                <th scope="col">Tulot yhteensä</th>
                <th scope="col">0,00 €</th>
            </tr>
        </tbody>
    </table>
</div>
